<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.dmiscountcat">

    <!--com.GFDreamTeam.discountcat-->

    <!--package="com.example.administrator.dmiscountcat">-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:roundIcon="@mipmap/ic_launcher_round2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.welcome.LaunchActivity">
            <!--android:name=".MainActivity">-->
            <!--android:name=".view.welcome.LaunchActivity">-->
            <!--android:name=".view.welcome.WelcomeActivity">-->
            <!--android:label="@string/app_name">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.my.IncomeStatementActivity" />
        <activity android:name=".activity.my.HelpActivity" />
        <activity android:name=".activity.my.AllRecordsActivity" />
        <activity android:name=".activity.my.BrowseRecordsActivity"/>
        <activity android:name=".activity.home.DailyLotteryActivity"/>
        <activity android:name=".activity.home.TaoCatWelfareActivity"/>
        <activity android:name=".activity.home.NewTutorialActivity"/>
        <activity android:name=".activity.home.WomanclothingActivity"/>
        <activity android:name=".activity.home.ZeroPackageActivity"/>
        <activity android:name=".activity.home.MessageNotiActivity"/>
        <activity android:name=".activity.my.MyPartnerActivity"/>
        <activity android:name=".activity.my.PartnerOrderActivity"/>
        <activity android:name=".activity.my.Convert"/>
        <activity android:name=".activity.my.Recharge"/>
        <activity android:name=".activity.my.Indent"/>
        <activity android:name=".activity.my.Invite"/>
        <activity android:name=".activity.my.SettingsActivity"/>
        <activity android:name=".activity.my.Generalize"/>
        <activity android:name=".activity.my.PartnerCenter"/>
        <activity android:name=".activity.my.CommonProblems"/>


        <activity android:name=".activity.goodsDetail.ProductInfoActivity">

        </activity>

    </application>

</manifest>